:root{
    --swiper-navigation-size:15px;
}

@media (min-width:900px){
    .container{
        width:900px;
    }
}

.test-box{
    border:1px solid red;
}

.container{
    margin-top:1rem;
}

.nav-link {
    color:white;
    font-weight:700;
}

.login-link{
    color:#333333;
    font-weight:700;
    text-decoration:none;
}

.login-link:hover{
    text-decoration:underline;
}

.home-nav{
    stroke: rgba(170,174,175,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    background-color:rgba(0, 121, 117, 1);
}

.search-icon{
    display:inline-block;
    position:relative;
    left:30px;
}

.search-box{
    padding-left:30px;
}

.carousel-control-prev{
    position:absolute;
    left:0;
}

.carousel-control-next{
    position:absolute;
    right:0;
}

@media screen and (max-width:480px){
    div h5{
        text-align:center;
    }
}

.swi-picture{
    width:286px;
    height:180px;
}

.card-a {
    text-decoration:none;
    color:black;
}

.card-a:hover{
    color:black;
    text-decoration:underline;
}

.card-title{
    font-size:120%;
    font-weight: 400;
}

.card-text:hover{
    text-decoration:none;
}

.card-hot{
    color:white;
    font-weight:500;
    font-size:110%;
    background-color: red;
    border-radius: 50px;
    text-align:center;
    width:50px;
    position:absolute;
    right:10px;
    top:10px;
}

.swiper-button-prev{
    position: relative;
    background-color: white;
    font-size:20px;
    border:0px;
}

.swiper-button-next{
    position: relative;
    background-color: white;
    font-size:20px;
    border:0px;
}

.footer-link{
    color:#aaaaaa;
    padding:0rem 0.5rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#input-content{
    margin:0 auto;
}

.login-logo-area{
    max-width:460px;
    margin:60px 0px 54px;
    padding:2rem 5rem;
}

.signup-logo-area{
    max-width:460px;
    margin:15px 0px 30px;
    padding:2rem 5rem;
}

@media screen and (min-width:500px){
    #input-content{
        width:460px;
    }
}

.check{
    width:65%;
}

.btn-small{
    height:24px;
    padding:0rem 0.75rem;
    line-height:0px;
    margin-left:5px;
}

.search-button{
    position:relative;
    top:0px;
    right:0px;
    left:0px;
}

#filter-title{
    padding:11px 0px 8px;
    font-size:13px;
    font-weight:600;
}
.filter-box{
    height:41px;
    border-top:#f4f4f6 solid 1px;
    border-right:#f4f4f6 solid 1px;
}

.filter-menu{
    padding:9 3px;
    float:left;
    position:relative;
    list-style:none;
}

#filter-list{
    background-color:rgba(0, 121, 117, 1);
    color:#fff;
    font-weight:300px;
}

#filter-link{
    font-size:13px;
    text-decoration: none;
    color:#000;
    padding:0 11px;
}

.filter-selected-box{
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

.filter-selected-cancel{
    text-decoration:none;
    color:#6b6b6a;
    font-size:14px;
}

.filter-selected-cancel:before {
    background-image: url(https://ssl.pstatic.net/shoppingsearch/static/pc/pc-221031-141651/img/sprite/png/spSearch.png);
    background-size: 263px 240px;
    background-position: -239px -129px;
    width: 12px;
    height: 13px;
    display: inline-block;
    margin: 5px 5px 0 0;
    vertical-align: top;
    content: "";
}

.filter-selected-cancel:after {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 7px 0 0 12px;
    background-color: #d8d8d8;
    vertical-align: top;
    content: "";
}

#filter-selected{
    padding:0 11px;
    height: 25px;
    margin-left: 15px;
    font-size:14px;
    font-weight: 500;
    color: #00a832;
    text-decoration: none;
}

.post-filter-select-box{
    border-bottom:1px solid #d8d8d8;
}

.post-filter-select{
    text-decoration:none;
    color:#6b6b6a;
    font-size:14px;
    margin-left:7px;
}

.post-filter-select2{
    text-decoration:none;
    color:#6b6b6a;
    font-size:14px;
    margin-left:8px;
}

.post-filter-select:after {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 7px 0 0 12px;
    background-color: #d8d8d8;
    vertical-align: top;
    content: "";
}

.post-box{
    border-bottom:1px solid #d8d8d8;
}

.post-content{
    margin-top:0.3rem;

}

#post-contentin{
    margin: 5px 0;
    font-size:13px;
}

.page-link{
    color:#00a832;
}

#post-pages{
    display:inline-block;
    text-align:cneter;
    padding:3px 9px;
    text-decoration:none;
    font-size:15px;
    font-weight:700;
    color:#333;
    margin:1px;
    border:1px;
}

#post-pages-selected{
    display:inline-block;
    text-align:cneter;
    padding:3px 9px;
    text-decoration:none;
    font-size:15px;
    font-weight:700;
    color:#333;
    margin:1px;
    border:1px solid #aaaaaa;
}

.picture-input-box{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    width:100px;
    border:1px solid #aaaaaa;
    border-radius: 10px;
    margin-right:5px;
}

.picture-change{
    display:flex;
    justify-content:center;
    align-items:center;
    width:120%;
    border:1px solid #aaaaaa;
    border-radius:5px;
    cursor: pointer;
}

#picture-box{
    display:flex;
    height:100%;
    width:100%;
    overflow:auto;
}

.write-placeholder{
    text-align:center;
}

.write-box{
    width:100%;
    height:34px;
    border:1px solid #ced4da;
    padding-left:0.5rem;
    color:#999;
}

.address-post{
    width:100%;
    height:34px;
    border:1px solid #aaaaaa;
    padding-left:0.5rem;
    color:#999;
}

#date-option{
    width:100%;
    height:34px;
    border:1px solid #aaaaaa;
    padding-left:0.5rem;
    color:#999;
}

.main-content{
    width:100%;
    height:465px;
    word-wrap:break-word;
}

@media (max-width: 768px){
.main-content{
    height:250px;
}}

#post-content{
    margin:0 auto;
}

.postview-table{
    width:100%;
    border : 1px solid #444444;
}

.postview-click{
    text-decoration:none;
    color:black;
}

.postview-click:hover{
    text-decoration: underline;
    color:black;
}

.postview-td{
    width:150px;
    padding : 5px 10px;
    border : 1px solid #444444; 
    text-align:center;
}

.mypage-td1{
    width:150px;
    height:80px;
    padding : 5px 10px;
    text-align:center;
    font-size:30px;
}

.mypage-td2{
    width:150px;
    height:50px;
    padding : 5px 10px;
    text-align:center;
    font-size:20px;
}

.history-td{
        width:150px;
        padding : 5px 10px;
        border : 1px solid #444444; 
        text-align:center;
}

.apply-list{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}